{
  "extends": "airbnb-base",
  // "parser": "babel-eslint",
  // "parserOptions": {
  //   "ecmaFeatures": {
  //     "jsx": true
  //   }
  // },
  "rules": {
    "no-underscore-dangle": [
      "error",
      {
        "allow": ["_id"]
      }
    ]
  }
}
