.navigation {
  height: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  /*width: auto;*/
  padding: 0;
  margin: 0;
  /*transform: none;*/
  opacity: 1;
}
.navigation_theme_dark {
  background-color: #1A1B22;
  color: #fff;
  border-color: #fff;
}
.navigation_theme_light {
  background-color: #fff;
  color: #1A1B22;
  border-color: #D1D2D6;
}
@media all and (max-width: 768px) {
.navigation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  padding: 16px 16px 24px;
  background-color: inherit;
  opacity: 0;
  transform: translateY(-300px);
  transition: all 0.3s ease-in-out;
  z-index: -1;
}}

.navigation_visible {
  /*transform: none;*/
  opacity: 1;
}
