.header {
  height: 80px;
  width: 100%;
  position: fixed;
  z-index: 3;
}

.header_transparent {
  background-color: transparent;
}

.header_theme_dark {
  color: #fff;
}

.header_theme_light {
  color: #1A1B22;
  background-color: #fff;
}

.header__container {
  height: 100%;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  text-decoration: none;
  color: inherit;
}

@media all and (max-width: 768px) {
  .header {
    height: 66px;

  }
}

@media all and (max-width: 768px) {
  .header {
    height: 56px;
  }
}
